/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 57 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

.btn--icon {
    color: #524b4d;
    display: flex;
    font-size: 3.6rem;
}

.btn--roll--phone {
    top: 42.3rem;
    left: 9%;
}

.btn--hold--phone {
    left: 91%;
    top: 42.3rem;
}


.dice--phone {
    height: 8rem;
    top: 40.5rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
}

.player--0--phone {
    transform: translateY(1rem);
}

@media(max-width:44.12em) {
    .btn--new {
        top: 35rem;
        left: 6%;
    }

    .score {
        font-size: 3rem;
    }

    .main {
        flex-direction: column;
        width: 59rem;
        height: 86rem;
    }

    body {
        overflow: hidden;
    }

    .player--winner .name {
        top: 6rem;
    }

    .player--winner .score {
        top: 8rem;
    }



}

@media(max-height:42.56em) and (max-width:44.12em) {
    .name {
        font-size: 2rem;
        margin-bottom: 0;
    }

    .player {
        padding: 10rem;
    }

    .player--0 {
        padding: 17rem 10rem 5rem 10rem;
    }

    .player--1 {
        padding: 8rem 10rem 15rem 10rem;
    }

    .dice--phone {
        height: 7rem;

    }
}