/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 57 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
.phone--mode--body {
    overflow: hidden;
}

.phone--mode--main {

    flex-direction: column;
    width: 59rem;
    height: 86rem;
}

.btn--icon {
    color: #524b4d;
    display: flex;
    font-size: 3.6rem;
}

.btn--roll--phone {
    top: 42.3rem;
    left: 9%;
}

.btn--hold--phone {
    left: 91%;
    top: 42.3rem;
}

.btn--new--phone {
    left: 6%;
    top: 0rem;
}

.dice--phone {
    height: 8rem;
    top: 40.5rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
}